<div class="row">
    <div class="=col-2">
    </div>

    <div class="col-10">
    <% @ideas.each do |idea| %>
        <div>
            <h2><%= link_to idea.title, idea_path(idea) %></h2>
        </div>
        <div>
            <h4><%= idea.body %></h4>
        </div>
        <div>
            <h6>By <%= idea.user.first_name %> </h6>
        </div>
        <small>Liked by: <%= pluralize idea.likes.count, 'like' %> </small>
        <% if user_signed_in?%>
        <% like = current_user.likes.find_by_idea_id(idea) %>
        <% if like %>
          <%= link_to 'Unlike', like_path(like), method: :delete %>
        <% else %>
          <%= link_to 'Like', idea_likes_path(idea), method: :post %>
        <% end %>
      <% end %>
      
        <hr />
    <% end %>
    </div>
</div>